.head{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-synthesis: style;    
    border: 3px solid green;
    text-align: right;
   list-style-position: inside;
    color: #39951c;
}
    
  .vernagir{
    font-size: 50px;
    color: rgb(142, 163, 182);

  }
  .vern{
    text-align: center;
    color: aqua;
    font-size: 40px;
    font-style:italic ;
  }
  .text{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    padding: 3%;
  }
  .nkar1{
    width: 40%;
    height: auto;
    padding: 5%;
  }
  .nkar2{
    width: 31%;
    height:auto;
    padding: 5%;
  }

  .form{ 
    text-align: center;
    text-decoration: double;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .button{
        background-color: #5a4d92; /* Green */
        border: none;
        color: white;
        padding: 15px ;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
  }